.App {
  text-align: center;
  align-items: center;
}

.list-item{
color: white;
}
.header{
font-size: 12px;
}
button{
background-color: fuchsia;
border-radius: 4px;
padding: 5px 10px;
margin: 0px 10px;
color: white;
border: white solid 2px;
}
input {
  padding: 10px;
  height: 10px;
  font-size: 14px;
}
.dynamic-list{
  list-style: none;
}
.tasks{
border: 2px white solid;
background-color: lavender;
color: white;
padding: 10px;
margin: 10px;
border-radius: 4px;

}

#container {
  display: flex;
  justify-content: center;
}
